In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import pymysql
import datetime as dt
import os
import gspread

from googleapiclient.discovery  import build
from google.oauth2 import service_account

In [2]:
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
# By Create Summary 
Query = """
       SELECT DATE(a.Created_Date)'Date',d.Display_Name'Store',a.city_name,a.state_list_name,a.Listing_Status,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when a.Listing_Status='Direct Walkin Lead' then 'Direct Walkin Lead' when a.TM_Type IS NULL then (case when d.is_tm='1' then 'TM' when d.is_tm='0' then 'Classified' END) ELSE a.TM_Type end 'Store_Type',
d.Regional_Head,
Case when a.ldm_source = 'WALK-IN' then 'Direct Walkin' when a.ldm_source NOT IN ('WALK-IN') AND a.gaadi_verified='0' then 'Organic Non CV' when a.ldm_source NOT IN ('WALK-IN') AND a.gaadi_verified='1' then 'Organic CV' END 'Source',
Case when a.Telecaller IS NULL then 'Callcenter' ELSE 'Sales' END 'Process_Level',
COUNT(*)'Total',

COUNT(Case when a.RN_M=1 then a.RN_ldm END)'Unique_Customer', 

COUNT(Case when a.RN_M=1 and a.Status_Converted=1 then a.ldm_id END)'Deliverd',

COUNT(Case when a.RN_M=1  AND a.Status_Converted=0 and a.Last_Closed_Date!='-' AND a.Last_Closed_Date>=a.Created_Date then a.ldm_id END)'lost',

COUNT(Case when a.RN_M=1 and a.Status_Converted=0 AND (a.Last_Closed_Date='-' OR a.Last_Closed_Date<a.Created_Date) then a.ldm_id END)'Active_Leads',
 
COUNT(Case when a.RN_M=1 AND (a.First_Walkin_Created!='-' OR a.TD_Done_Date!='-' OR (a.last_walkin_date!='-' AND a.last_walkin_date>=a.Created_Date )) then a.ldm_id END) 'Meeting_Scheduled',
 
COUNT(Case when a.RN_M=1 AND ((a.last_walkin_date!='-' AND a.last_walkin_date>=a.Created_Date) OR a.TD_Done_Date!='-') then a.ldm_id END) 'Meeting_Done',
 
COUNT(case when a.RN_M=1 AND a.TD_Done_Date!='-' then a.ldm_id END)'TD_Done',

COUNT(Case when a.RN_M=1 AND a.last_Booked_Date!='-' AND  a.last_Booked_Date>a.Created_Date then a.ldm_id END)'Booked',
COUNT(Case when a.RN_M=1 AND a.Last_Walkin_Created!='-' AND a.Status_Converted=0 AND (a.Last_Closed_Date='-' OR a.Last_Closed_Date<a.Created_Date) AND a.Telecaller IS NULL then a.ldm_id END)'Active_Not_assigned_Lead',

COUNT(Case when a.RN_M=1 and a.Status_Converted=0 AND (a.Last_Closed_Date='-' OR a.Last_Closed_Date<a.Created_Date) AND a.Current_Sch_Date!='-' then a.ldm_id END) 'Active_Not_Sch',

COUNT(Case when a.RN_M=1  AND a.Status_Converted=0 AND a.last_walkin_date='-' AND a.TD_Done_Date='-' and a.Last_Closed_Date!='-' AND a.Last_Closed_Date>=a.Created_Date then a.ldm_id END)'LPRWD',

COUNT(Case when a.RN_M=1 AND a.Status_Converted=0 AND (a.last_walkin_date!='-' OR a.TD_Done_Date!='-') AND a.Last_Closed_Date!='-' AND a.Last_Closed_Date>=a.Created_Date then a.ldm_id END)'LPOWD',

COUNT(Case when a.RN_M=1 and a.Status_Converted=0 AND (a.Last_Closed_Date='-' OR a.Last_Closed_Date<a.Created_Date) AND a.DC_Status_New='Followup' then a.ldm_id END)'Followup_Overdue',

COUNT(Case when a.RN_M=1 and a.Status_Converted=0 AND (a.Last_Closed_Date='-' OR a.Last_Closed_Date<a.Created_Date) AND a.DC_Status_New='Future_Followup' then a.ldm_id END)'Future_Followup',

COUNT(Case when a.RN_M=1 and a.Status_Converted=0 AND (a.Last_Closed_Date='-' OR a.Last_Closed_Date<a.Created_Date) AND a.DC_Status_New='Walk-in Scheduled' then a.ldm_id END)'Walk_in_Scheduled',

COUNT(Case when a.RN_M=1 and a.Status_Converted=0 AND (a.Last_Closed_Date='-' OR a.Last_Closed_Date<a.Created_Date) AND a.DC_Status_New='Walk-in Done' then a.ldm_id END)'Walk_in_Done',

COUNT(Case when a.RN_M=1 and a.Status_Converted=0 AND (a.Last_Closed_Date='-' OR a.Last_Closed_Date<a.Created_Date) AND a.DC_Status_New='TestDrive-Done' then a.ldm_id END)'TestDrive_Done',

COUNT(Case when a.RN_M=1 and a.Status_Converted=0 AND (a.Last_Closed_Date='-' OR a.Last_Closed_Date<a.Created_Date) AND a.DC_Status_New IN ('Booked','Customer Offer') then a.ldm_id END)'Active_Leads_Booked'

From Dealer_central_lead_raw_new_unique a 
LEFT JOIN Dc_Dealers d ON a.gcd_code=d.gcd_code
WHERE a.gcd_code NOT IN ('GCD18321')
GROUP BY 1,2,3,4,5,6,7,8,9,10 

"""

In [3]:
cursor = conn.cursor()
cursor.execute(Query)

27908

In [4]:
data = cursor.fetchall()

In [5]:
column = [col[0] for col in cursor.description]

In [6]:
df = pd.DataFrame(data, columns = column)

In [7]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [8]:
# replace -> Drop;
# append -> Dafault.

df.to_sql('cardekho_UCR_bycreate_summary_GDS', db_connection, if_exists = 'replace', index = False)

In [9]:
conn.close()
db_connection.dispose()

In [10]:
# By Update Summary
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
QueryA = """
       SELECT a.organization'Store',a.Display_Name'organization',a.state_list_name,a.city_name,a.Source,a.Tag,Case when a.Active=1 then 'Active' when a.Active=0 then 'InActive' END 'Staus',
Case when a.Listing_Status='Direct Walkin Lead' then 'Direct Walkin Lead' when a.TM_Type IS NULL then (case when a.is_tm='1' then 'TM' when a.is_tm='0' then 'Classified' END) ELSE a.TM_Type end 'Store_Type',
a.Regional_Head,a.Date,
SUM(case when a.`TYPE`='Total_Leads' then a.Total END)'Total_Leads',
SUM(case when a.`TYPE`='Unique_Leads' then a.Total END)'Unique_Leads',
SUM(case when a.`Type`='Meeting_Created' then a.Total END)'Meeting_Created',
SUM(case when a.`Type`='Meeting_Scheduled' then a.Total END)'Meeting_Scheduled', 
SUM(case when a.`Type`='TDS_Customer' then a.Total END)'TDS_Customer',
SUM(case when a.`Type`='TDS_Agent' then a.Total END)'TDS_Agent',
SUM(case when a.`Type`='Meeting_Done' then a.Total END)'Meeting_Done',
SUM(case when a.`Type`='TestDrive_Done' then a.Total END)'TestDrive_Done',
SUM(case when a.`Type`='Out_of_WS_Attampted' then a.Total END)'Out_of_WS_Attampted',
SUM(case when a.`Type`='Out_of_WS_Connected' then a.Total END)'Out_of_WS_Connected',
SUM(case when a.`Type`='Total_Attempted' then a.Total END)'Total_Attempted',
SUM(case when a.`Type`='Total_Connected' then a.Total END)'Total_Connected',
SUM(case when a.`Type`='Unique_Attempted' then a.Total END)'Unique_Attempted',
SUM(case when a.`Type`='Unique_Connected' then a.Total END)'Unique_Connected',
SUM(case when a.`Type`='Total_Booked' then a.Total END)'Total_Booked',
SUM(case when a.`Type`='Active_Bookings' then a.Total END)'Active_Bookings',
SUM(case when a.`Type`='Converted' then a.Total END)'Converted' 
From UCR_by_Update_Summary a WHERE a.Date>=DATE_FORMAT(DATE_SUB(DATE_SUB(CURDATE(),Interval 1 DAY),Interval 3 MONTH),'%y-%m-%1') and a.Date<curdate()
AND a.organization NOT IN ('GCD18321')
GROUP BY 1,2,3,4,5,6,7,8,9,10

"""

In [11]:
cursorA = conn.cursor()
cursorA.execute(QueryA)

41114

In [12]:
dataA = cursorA.fetchall()

In [13]:
columnA = [col[0] for col in cursorA.description]

In [14]:
dfA = pd.DataFrame(dataA, columns = columnA)

In [15]:
#Only for by update summary
for i in columnA[10:] :
    dfA[i] = pd.to_numeric(dfA[i]) # converts it into float.
    dfA[[i]] = dfA[[i]].fillna(0) # fill null values with 0.
    dfA[[i]]=dfA[[i]].astype(int) # convert it into int.

In [16]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [17]:
# replace -> Drop;
# append -> Dafault.

dfA.to_sql('cardekho_UCR_byupdate_summary_GDS', db_connection, if_exists = 'replace', index = False)

In [18]:
conn.close()
db_connection.dispose()

In [19]:
# WS Not Connected Attempts Tracking
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
QueryB = """
      SELECT a.organization,a.state_list_name,a.city_name, 
case when  a.ldm_source = 'WALK-IN' then  'Direct Walkin' when a.ldm_source NOT IN ('WALK-IN') AND a.gaadi_verified = 0   then 'Organic Non CV'  ELSE 'Organic CV' END 'Source',a.Display_Name, 
DATE(a.Scheduled_Date)'Date',Case when a.Listing_Status='Direct Walkin Lead' then 'Direct Walkin Lead' when a.TM_Type IS NULL then (case when a.is_tm='1' then 'TM' when a.is_tm='0' then 'Classified' END) ELSE a.TM_Type end 'Store_Type',
a.Regional_Head,
Case when a.Active=1 then 'Active' when a.Active=0 then 'InActive' END 'Status',
 'MTD' AS 'Tag',
COUNT(*)'Total',COUNT(Case when a.Attemted IS NOT NULL then a.lead_mapper_id END)'Attempted',
COUNT(Case when a.Connected IS NOT NULL AND a.Connected!=0 then a.lead_mapper_id END)'Connected',COUNT(Case when (a.Connected IS NULL OR a.Connected=0) then a.lead_mapper_id END)'Not_Connected',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted IS NULL  then a.lead_mapper_id END)'Not_Attempted',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted=1  then a.lead_mapper_id END)'Attempted_1',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted=2  then a.lead_mapper_id END)'Attempted_2',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted=3  then a.lead_mapper_id END)'Attempted_3',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted=4  then a.lead_mapper_id END)'Attempted_4',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted=5  then a.lead_mapper_id END)'Attempted_5',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted>5  then a.lead_mapper_id END)'Attempted_Above_5'
FROM (SELECT a.lead_mapper_id,a.Scheduled_Created,a.activity_text,a.mobile,a.Customer_Name,a.status_name,a.`Status`,a.lead_assign_date,a.ldm_follow_date,a.reg_no,a.gcd_code,a.organization,a.make,a.model,a.make_year,a.state_list_name,a.city_name,a.Listing_Status,a.TM_Type,a.source,a.ldm_source,a.gaadi_verified,
Case when a.Scheduled_Date='-' then a.lht_walkin_schedule_date ELSE a.Scheduled_Date END'Scheduled_Date',b.Attemted,b.Connected,d.Display_Name,d.Active,d.is_tm,d.Regional_Head,d.is_cl,
ROW_NUMBER() over (PARTITION BY a.lead_mapper_id,DATE_FORMAT((Case when a.Scheduled_Date='-' then a.lht_walkin_schedule_date ELSE a.Scheduled_Date END),"%b'%y") ORDER BY a.Scheduled_Created ASC)'RN_LD' FROM Dealer_Central_by_Walkin_Created a 
LEFT JOIN Dc_Dealers d ON a.gcd_code=d.gcd_code
LEFT JOIN (SELECT a.ldm_id,COUNT(*) AS 'Attemted',COUNT(Case when a.call_status='Connected' then a.ldm_id END)'Connected' From Dealer_Central_Mytelly_Logs a GROUP BY 1)b ON a.lead_mapper_id=b.ldm_id
WHERE a.Scheduled_Date!='-' OR a.lht_walkin_schedule_date!='0000-00-00 00:00:00')a WHERE a.RN_LD=1 AND Date(a.Scheduled_Date)>='2021-12-01' AND Date(a.Scheduled_Date)<=CURDATE() 
GROUP BY 1,2,3,4,5,6,7,8,9
 
UNION ALL

SELECT a.organization,a.state_list_name,a.city_name, 
case when  a.ldm_source = 'WALK-IN' then  'Direct Walkin' when a.ldm_source NOT IN ('WALK-IN') AND a.gaadi_verified = 0   then 'Organic Non CV'  ELSE 'Organic CV' END 'Source',a.Display_Name, 
DATE(a.Scheduled_Date)'Date',Case when a.Listing_Status='Direct Walkin Lead' then 'Direct Walkin Lead' when a.TM_Type IS NULL then (case when a.is_tm='1' then 'TM' when a.is_tm='0' then 'Classified' END) ELSE a.TM_Type end 'Store_Type',
a.Regional_Head, 
Case when a.Active=1 then 'Active' when a.Active=0 then 'InActive' END 'Status',
'FTD' AS 'Tag',
COUNT(*)'Total',COUNT(Case when a.Attemted IS NOT NULL then a.lead_mapper_id END)'Attempted',
COUNT(Case when a.Connected IS NOT NULL AND a.Connected!=0 then a.lead_mapper_id END)'Connected',COUNT(Case when (a.Connected IS NULL OR a.Connected=0) then a.lead_mapper_id END)'Not_Connected',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted IS NULL  then a.lead_mapper_id END)'Not_Attempted',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted=1  then a.lead_mapper_id END)'Attempted_1',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted=2  then a.lead_mapper_id END)'Attempted_2',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted=3  then a.lead_mapper_id END)'Attempted_3',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted=4  then a.lead_mapper_id END)'Attempted_4',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted=5  then a.lead_mapper_id END)'Attempted_5',
COUNT(Case when (a.Connected IS NULL OR a.Connected=0) AND a.Attemted>5  then a.lead_mapper_id END)'Attempted_Above_5'
FROM (SELECT a.lead_mapper_id,a.Scheduled_Created,a.activity_text,a.mobile,a.Customer_Name,a.status_name,a.`Status`,a.lead_assign_date,a.ldm_follow_date,a.reg_no,a.gcd_code,a.organization,a.make,a.model,a.make_year,a.state_list_name,a.city_name,a.Listing_Status,a.TM_Type,a.source,a.ldm_source,a.gaadi_verified,
Case when a.Scheduled_Date='-' then a.lht_walkin_schedule_date ELSE a.Scheduled_Date END'Scheduled_Date',b.Attemted,b.Connected,d.Display_Name,d.Active,d.is_tm,d.Regional_Head,d.is_cl,
ROW_NUMBER() over (PARTITION BY a.lead_mapper_id,DATE((Case when a.Scheduled_Date='-' then a.lht_walkin_schedule_date ELSE a.Scheduled_Date END)) ORDER BY a.Scheduled_Created ASC)'RN_LD' FROM Dealer_Central_by_Walkin_Created a 
LEFT JOIN Dc_Dealers d ON a.gcd_code=d.gcd_code
LEFT JOIN (SELECT a.ldm_id,COUNT(*) AS 'Attemted',COUNT(Case when a.call_status='Connected' then a.ldm_id END)'Connected' From Dealer_Central_Mytelly_Logs a GROUP BY 1)b ON a.lead_mapper_id=b.ldm_id
WHERE a.Scheduled_Date!='-' OR a.lht_walkin_schedule_date!='0000-00-00 00:00:00')a WHERE a.RN_LD=1 AND Date(a.Scheduled_Date)>='2021-12-01' AND Date(a.Scheduled_Date)<=CURDATE() AND a.gcd_code NOT IN ('GCD18321')
GROUP BY 1,2,3,4,5,6,7,8,9 


"""

In [20]:
cursorB = conn.cursor()
cursorB.execute(QueryB)

19474

In [21]:
dataB = cursorB.fetchall()

In [22]:
columnB = [col[0] for col in cursorB.description]

In [23]:
dfB = pd.DataFrame(dataB, columns = columnB)

In [24]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [25]:
# replace -> Drop;
# append -> Dafault.

dfB.to_sql('Cardekho_UCR_WS_Not_Connected_Attempts_GDS', db_connection, if_exists = 'replace', index = False)

In [26]:
conn.close()
db_connection.dispose()

In [27]:
# By Meeting Created Date Lead Assignment & Followup Summary Pan-India
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
QueryC = """
      SELECT Q1.Display_Name,Q1.city_name,Q1.state_list_name,Q1.Walkin_Source,Q1.organization ,case when Active=1 then 'Active' when Active=0 then 'InActive' END 'Status_activity',
Case when Q1.Listing_Status='Direct Walkin Lead' then 'Direct Walkin Lead' when Q1.TM_Type IS NULL then (case when Q1.is_tm='1' then 'TM' when Q1.is_tm='0' then 'Classified' END) ELSE Q1.TM_Type end 'Store_Type',
Regional_Head,DATE(Q1.Scheduled_Created)'Date',
COUNT(*)'Meeting_Created', COUNT(case when Q1.RN_L=1 then Q1.id END)'Uniue_by_ldm',
COUNT(Case when Q1.RN_M=1 then Q1.id END)'Unique_by_Customer', COUNT(case when Q1.last_walkin_date!='-' OR Q1.TD_Done_Date!='-' OR Q1.Coverted_Date!='-' then Q1.id END)'Meeting_Done',
COUNT(Case when Q1.last_walkin_date='-' AND Q1.TD_Done_Date='-' AND Q1.Coverted_Date='-' AND Q1.Last_Closed_Date>=Q1.Scheduled_Created then Q1.id END)'LPW',
COUNT(case when Q1.last_walkin_date='-' AND Q1.TD_Done_Date='-' AND Q1.Coverted_Date='-' AND (Q1.Last_Closed_Date='-' OR Q1.Last_Closed_Date<Q1.Scheduled_Created) then Q1.id END)'Active_Leads',
COUNT(case when Q1.TD_Done_Date!='-' then Q1.id END)'TD_Done',
COUNT(Case when Q1.Coverted_Date!='-' then Q1.id END)'Converted',
COUNT(Case when (Q1.last_walkin_date!='-' OR Q1.TD_Done_Date!='-') AND Q1.Coverted_Date='-' AND Q1.Last_Closed_Date>=Q1.Scheduled_Created then Q1.id END)'LAW',
COUNT(Case when (Q1.last_walkin_date!='-' OR Q1.TD_Done_Date!='-') AND Q1.Coverted_Date='-' AND (Q1.Last_Closed_Date='-' or Q1.Last_Closed_Date<Q1.Scheduled_Created) then Q1.id END) 'WIP',
COUNT(case when Q1.last_walkin_date='-' AND Q1.TD_Done_Date='-' AND Q1.Coverted_Date='-' AND (Q1.Last_Closed_Date='-' OR Q1.Last_Closed_Date<Q1.Scheduled_Created) AND Q1.lead_assign_to>0 AND Q1.lead_assign_to IS NOT NULL then Q1.id END)'Active_assigned_leads',
COUNT(Case when Q1.Tag='Walkin_TD' then Q1.id END)'TD_Created',

COUNT(case when Q1.last_walkin_date='-' AND Q1.TD_Done_Date='-' AND Q1.Coverted_Date='-' AND (Q1.Last_Closed_Date='-' OR Q1.Last_Closed_Date<Q1.Scheduled_Created) AND DATE(Q1.ldm_follow_date)<CURDATE() then Q1.id END)'Followup_Overdue'
FROM (SELECT a.*,d.Active,d.is_tm,d.Regional_Head,case when  a.ldm_source = 'WALK-IN' then  'Direct Walkin' when a.ldm_source NOT IN ('WALK-IN') AND a.gaadi_verified = 0   then 'Organic Non CV' ELSE 'Organic CV' END 'Walkin_Source',d.Display_Name,ROW_NUMBER() over (PARTITION BY a.leadpluscar,MONTH(a.Scheduled_Created) ORDER BY a.Tag DESC,a.Scheduled_Created ASC) 'RN_SM',ROW_NUMBER() over (PARTITION BY a.lead_mapper_id,MONTH(a.Scheduled_Created) ORDER BY  a.Tag DESC,a.Scheduled_Created ASC)'RN_L',ROW_NUMBER() over (PARTITION BY a.mobile,MONTH(a.Scheduled_Created) ORDER BY a.Tag DESC, a.Scheduled_Created ASC)'RN_M' From Dealer_Central_by_Walkin_Created a 
LEFT JOIN Dc_Dealers d ON a.gcd_code=d.gcd_code)Q1
WHERE Q1.RN_SM='1' 
AND Q1.gcd_code NOT IN ('GCD18321')
GROUP BY 1,2,3,4,5,6,7,8,9  

"""

In [28]:
cursorC = conn.cursor()
cursorC.execute(QueryC)
dataC = cursorC.fetchall()
columnC = [col[0] for col in cursorC.description]
dfC = pd.DataFrame(dataC, columns = columnC)

In [29]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [30]:
# replace -> Drop;
# append -> Dafault.

dfC.to_sql('Cardekho_UCR_By_Meeting_Created_Date_GDS', db_connection, if_exists = 'replace', index = False)

In [31]:
conn.close()
db_connection.dispose()

In [32]:
# Open Leads & Not Assigned Open Leads Summary
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
QueryD = """
      SELECT a.`Status`,d.Display_Name'organization',a.Telecaller,a.city_name,a.state_list_name,d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',Case when d.is_tm='1' then 'Trustmark' when d.is_tm='0' then 'Value+' END 'Store_Type',
Case when a.Telecaller IS NOT NULL AND (DATE(a.Current_Sch_Date)>DATE(a.ldm_created_date) OR a.Current_Sch_Date='-') then 'Sales' ELSE 'Callcenter' END 'Process_Level',
DATE(a.ldm_created_date)'Date',COUNT(*)'Opne_leads',COUNT(Case when a.Telecaller IS NULL then a.ldm_id END)'Not_Assigned_Lead',COUNT(Case when a.Telecaller IS NULL AND DATE(a.Current_Sch_Date)<=CURDATE() then a.ldm_id END)'Not_Assigned_till_Day_Sch',COUNT(Case when a.Telecaller IS NULL AND (a.Current_Sch_Date='-' OR DATE(a.Current_Sch_Date)>CURDATE()) then a.ldm_id END)'Not_Assigned_Future_Sch' FROM DC_Lead_Status_Raw a 
 LEFT JOIN Dc_Dealers d ON a.gcd_code=d.gcd_code
WHERE  a.`Status` NOT IN ('Deliverd','Not_interested') 
AND a.gcd_code NOT IN ('GCD18321')
GROUP BY 1,2,3,4,5,6,7,8,9,10    

"""

In [33]:
cursorD = conn.cursor()
cursorD.execute(QueryD)
dataD = cursorD.fetchall()
columnD = [col[0] for col in cursorD.description]
dfD = pd.DataFrame(dataD, columns = columnD)

In [34]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [35]:
# replace -> Drop;
# append -> Dafault.

dfD.to_sql('Cardekho_UCR_Open_Leads_Summary_GDS', db_connection, if_exists = 'replace', index = False)

In [36]:
conn.close()
db_connection.dispose()

In [37]:
# Inventory Lead Status Wise Funnel
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
QueryE = """
      SELECT  DATE(dcl.Created_Date)'Date',dcl.reg_no, dcl.DC_Status_New 'DC_Status_1',d.Display_Name 'organization', dcl.Listing_Status , dcl.Listing_Type , (dcl.organization )'Store'  , dcl.state_list_name,dcl.city_name, 
Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status',
Case when dcl.Listing_Status='Direct Walkin Lead' then 'Direct Walkin Lead' when dcl.TM_Type IS NULL then (case when d.is_tm='1' then 'TM' when d.is_tm='0' then 'Classified' END) ELSE dcl.TM_Type end 'Store_Type',
d.Regional_Head,
COUNT(dcl.ldm_id)'Total',COUNT(case when dcl.DC_Status_New IN ( 'Fresh') then dcl.ldm_id END)'Fresh',
COUNT(case when dcl.DC_Status_New IN ( 'Followup') then dcl.ldm_id END)'Followup',
COUNT(case when dcl.DC_Status_New IN ('Future_Followup') then dcl.ldm_id END)'Future_Followup',
COUNT(case when dcl.DC_Status_New  IN ('Walk-in Scheduled')  then dcl.ldm_id END)'Walk_in_Scheduled',
COUNT(case when dcl.DC_Status_New = 'Walk-in Done' then dcl.ldm_id END)'Walk_in_Done',
COUNT(case when dcl.DC_Status_New = 'TestDrive-Done'then dcl.ldm_id END)'Test_Drive_Done',
COUNT(case when dcl.DC_Status_New = 'Booked' then dcl.ldm_id END)'Booked',
COUNT(case when dcl.DC_Status_New = 'Customer Offer' then dcl.ldm_id END)'Customer Offer',
COUNT(case when dcl.DC_Status_New = 'Converted' then dcl.ldm_id END)'Converted',
COUNT(case when dcl.DC_Status_New = 'Closed'  then dcl.ldm_id END)'Not_Interested',
COUNT(case when dcl.DC_Status_New = 'Non-Contacted' then dcl.ldm_id END)'Non_Contacted',
COUNT(case when dcl.DC_Status_New = 'Cancel Booking' then dcl.ldm_id END)'Cancel_Booking',
COUNT(case when dcl.DC_Status_New = 'Delivery Return' then dcl.ldm_id END)'Delivery_Return'
FROM Dealer_central_lead_raw_new_unique dcl  
LEFT JOIN Dc_Dealers d ON d.gcd_code=dcl.gcd_code
WHERE DATE(dcl.Created_Date)>=DATE_FORMAT(DATE_SUB(CURDATE()
, INTERVAL 3 MONTH ),'%y-%m-%01') and dcl.reg_no IS NOT NULL AND dcl.reg_no!=''

GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12  

"""

In [38]:
cursorE = conn.cursor()
cursorE.execute(QueryE)
dataE = cursorE.fetchall()
columnE = [col[0] for col in cursorE.description]
dfE = pd.DataFrame(dataE, columns = columnE)

In [39]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [40]:
# replace -> Drop;
# append -> Dafault.

dfE.to_sql('Cardekho_UCR_Inventory_Lead_Status_Wise_Funnel_GDS', db_connection, if_exists = 'replace', index = False)

In [41]:
conn.close()
db_connection.dispose()

In [42]:
# By Followup Summary
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
QueryF = """
      SELECT d.Display_Name'organization',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Staus',
Case when dcl.Listing_Status='Direct Walkin Lead' then 'Direct Walkin Lead' when dcl.TM_Type IS NULL then (case when d.is_tm='1' then 'TM' when d.is_tm='0' then 'Classified' END) ELSE dcl.TM_Type end 'Store_Type',


(case when dcl.DC_Status_1 NOT IN ('Converted','Not Interested') AND date(dcl.ldm_follow_date)=CURDATE() then 'Followup Today' when dcl.DC_Status_1 NOT IN ('Converted','Not Interested')  AND dcl.ldm_follow_date!='0000-00-00 00:00:00'  AND date(dcl.ldm_follow_date)<CURDATE() then 'Due Followup'
  ELSE 'Not Required' END ) 'Followup_Status' , 
 dcl.Listing_Status , dcl.Listing_Type , (dcl.organization )'Store'  , dcl.city_name , dcl.state_list_name,
COUNT(dcl.ldm_id)'Total',
COUNT(case when dcl.RN_M = 1 then dcl.ldm_id END )'Unique_Total',
COUNT(case when dcl.RN_M = 1 AND dcl.gaadi_verified = 1 then dcl.ldm_id END ) 'Unique_Call_Verified',
COUNT(case when dcl.Assigned_DC_All = '1' AND dcl.RN_M = 1 AND dcl.gaadi_verified = 1 then dcl.ldm_id END)'Assigned_DC',
COUNT(case when dcl.DC_Status_1 IN ( 'Fresh')   AND dcl.RN_M = 1  then dcl.ldm_id END)'Fresh',
COUNT(case when dcl.DC_Status_1 IN ( 'Followup') AND dcl.RN_M = 1   then dcl.ldm_id END)'Followup',
COUNT(case when dcl.DC_Status_1  IN ('Walk-in Scheduled')   AND dcl.RN_M = 1  then dcl.ldm_id END)'Walk_in_Scheduled',COUNT(case when dcl.DC_Status_1 = 'Walk-in Done'  AND dcl.RN_M = 1  then dcl.ldm_id END)'Walk_in_Done',
COUNT(case when dcl.DC_Status_1 = 'TestDrive-Done'   AND dcl.RN_M = 1  then dcl.ldm_id END)'Test_Drive_Done',
COUNT(case when dcl.DC_Status_1 = 'Booked & Cust Offer'   AND dcl.RN_M = 1  then dcl.ldm_id END)'Booked_nd_Cust_Offer',COUNT(case when dcl.DC_Status_1 = 'Non-Contacted'  AND dcl.RN_M = 1  then dcl.ldm_id END)'Non_Contacted'
FROM Dealer_central_lead_raw_Unique dcl 
LEFT JOIN misauto.Dc_Dealers d ON dcl.gcd_code=d.gcd_code

 WHERE dcl.DC_Status_1 NOT IN ('Converted','Not Interested') AND dcl.ldm_follow_date NOT IN ('0000-00-00 00:00:00') AND DATE(dcl.ldm_follow_date)<=CURDATE()
GROUP BY 1, 2 , 3 , 4 ,5 , 6 ,7,8,9,10 

"""

In [43]:
cursorF = conn.cursor()
cursorF.execute(QueryF)
dataF = cursorF.fetchall()
columnF = [col[0] for col in cursorF.description]
dfF = pd.DataFrame(dataF, columns = columnF)

In [44]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [45]:
# replace -> Drop;
# append -> Dafault.

dfF.to_sql('Cardekho_UCR_By_Followup_Summary_GDS', db_connection, if_exists = 'replace', index = False)

In [46]:
conn.close()
db_connection.dispose()

In [47]:
# By Followup & Open Lead Sales Buddy Wise
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
QueryG = """
      SELECT a.`Status`,d.Display_Name'organization',a.Telecaller,a.city_name,a.state_list_name,d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Staus_activity',
Case when a.Listing_Status='Direct Walkin Lead' then 'Direct Walkin Lead' when a.TM_Type IS NULL then (case when d.is_tm='1' then 'TM' when d.is_tm='0' then 'Classified' END) ELSE a.TM_Type END 'Store_Type',
DATE(a.ldm_created_date)'Date',COUNT(*)'Total',
Count(Case when a.Status='Booked' Then a.ldm_id END)'Booked',
Count(Case when a.Status='Customer Offer' Then a.ldm_id END)'Customer_Offer',
Count(Case when a.Status='Follow_Up' Then a.ldm_id END)'Follow_Up',
Count(Case when a.Status='Fresh' Then a.ldm_id END)'Fresh',
Count(Case when a.Status='Future_Followup' Then a.ldm_id END)'Future_Followup',
Count(Case when a.Status='Non_contacted' Then a.ldm_id END)'Non_contacted',
Count(Case when a.Status='TestDrive-Done' Then a.ldm_id END)'TestDrive_Done',
Count(Case when a.Status='Walk-in Done' Then a.ldm_id END)'Walk_in_Done',
Count(Case when a.Status='Walk-in Scheduled' Then a.ldm_id END)'Walk_in_Scheduled',
COUNT(Case when a.Total_Attempt IS NOT NULL AND a.Total_Attempt!=0 then a.ldm_id END)'Total_Attepted', 
COUNT(Case when a.Total_Connected IS NOT NULL AND a.Total_Connected!=0 then a.ldm_id END)'Total_Connected',
COUNT(Case when a.MTD_Atempted IS NOT NULL AND a.MTD_Atempted!=0 then a.ldm_id END)'MTD_Attempted',
COUNT(Case when a.MTD_Connected IS NOT NULL AND a.MTD_Connected!=0 then a.ldm_id END)'MTD_Connected',
COUNT(Case when a.FTD_Atempted IS NOT NULL AND a.FTD_Atempted!=0 then a.ldm_id END)'FTD_Attempted',
COUNT(Case when a.FTD_Connected IS NOT NULL AND a.FTD_Connected!=0 then a.ldm_id END)'FTD_Connected'
FROM DC_Lead_Status_Raw a
LEFT JOIN misauto.Dc_Dealers d ON a.gcd_code=d.gcd_code
 WHERE a.Telecaller IS NOT NULL AND a.`Status` NOT IN ('Deliverd','Not_interested') GROUP BY 1,2,3,4,5,6,7,8,9 

"""

In [48]:
cursorG = conn.cursor()
cursorG.execute(QueryG)
dataG = cursorG.fetchall()
columnG = [col[0] for col in cursorG.description]
dfG = pd.DataFrame(dataG, columns = columnG)

In [49]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [50]:
# replace -> Drop;
# append -> Dafault.

dfG.to_sql('Cardekho_UCR_By_Followup_Sales_Buddy_Wise_GDS', db_connection, if_exists = 'replace', index = False)

In [51]:
conn.close()
db_connection.dispose()

In [52]:
# Listing Summary-Pan India (Summary 1)
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
QueryH = """
      SELECT '1) Active Listing' AS 'Status',d.Display_Name 'Store_Name',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when a.is_trustmark_car='1' then 'TM' when a.is_valueplus='1' then 'Value+' END 'Store_Type',
a.Make,a.Model,a.make_year,a.colour,a.fuel_type,a.State,a.City,
 COUNT(*)'By_Connex_Stockin' FROM UCR_Listing_vs_360_View a
 inner JOIN misauto.Dc_Dealers d ON a.GCD_Code=d.gcd_code
  WHERE   a.Listing_Status='Active'
 GROUP BY 1,2,3,4,5,6,7,8,9,8,9,10,11,12
 
UNION ALL

SELECT '2) 360 Done' AS 'Status',d.Display_Name 'Store_Name',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when a.is_trustmark_car='1' then 'TM' when a.is_valueplus='1' then 'Value+' END 'Store_Type',
a.Make,a.Model,a.make_year,a.colour,a.fuel_type,a.State,a.City,
 COUNT(*)'Value' FROM UCR_Listing_vs_360_View a 
 Inner JOIN misauto.Dc_Dealers d ON a.GCD_Code=d.gcd_code WHERE   a.is_360_exterior='1' and a.Listing_Status='Active' GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12

UNION ALL

SELECT 'a. Less 30 Days' AS 'Status',d.Display_Name 'Store_Name',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when a.is_trustmark_car='1' then 'TM' when a.is_valueplus='1' then 'Value+' END  'Store_Type',
a.Make,a.Model,a.make_year,a.colour,a.fuel_type,a.State,a.City,
 COUNT(case when DATE(a.created_date)>=DATE_SUB(CURDATE(),INTERVAL 30 DAY) AND CURDATE() then a.id END)'By_Connex_Stockin' FROM UCR_Listing_vs_360_View a
  inner JOIN misauto.Dc_Dealers d ON a.GCD_Code=d.gcd_code WHERE  a.Listing_Status='Active' GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12

UNION ALL 

SELECT 'b. 30_to_60_Days' AS 'Status',d.Display_Name 'Store_Name',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when a.is_trustmark_car='1' then 'TM' when a.is_valueplus='1' then 'Value+' END 'Store_Type',
a.Make,a.Model,a.make_year,a.colour,a.fuel_type,a.State,a.City,
 COUNT(case when DATE(a.created_date)<=DATE_SUB(CURDATE(),INTERVAL 31 DAY) AND DATE(a.created_date)>DATE_SUB(CURDATE(),INTERVAL 60 DAY) then a.id END)'By_Connex_Stockin' FROM UCR_Listing_vs_360_View a
 inner JOIN misauto.Dc_Dealers d ON a.GCD_Code=d.gcd_code WHERE  a.Listing_Status='Active'
 GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12

UNION ALL 

SELECT 'c. 60_to_90_Days' AS 'status',d.Display_Name 'Store_Name',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when a.is_trustmark_car='1' then 'TM' when a.is_valueplus='1' then 'Value+' END  'Store_Type',
a.Make,a.Model,a.make_year,a.colour,a.fuel_type,a.State,a.City,
 count(case when DATE(a.created_date)<=DATE_SUB(CURDATE(),INTERVAL 60 DAY) AND date(a.created_date)>DATE_SUB(CURDATE(),INTERVAL 91 DAY) then a.id END)'By_Connex_Stockin' FROM UCR_Listing_vs_360_View a
  inner JOIN misauto.Dc_Dealers d ON a.GCD_Code=d.gcd_code WHERE   
 a.Listing_Status='Active'
 GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12

UNION ALL 

SELECT 'd. More 90 Days' AS 'status',d.Display_Name 'Store_Name',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when a.is_trustmark_car='1' then 'TM' when a.is_valueplus='1' then 'Value+' END  'Store_Type',
a.Make,a.Model,a.make_year,a.colour,a.fuel_type,a.State,a.City,
 count(case when DATE(a.created_date)<=DATE_SUB(CURDATE(),INTERVAL 91 DAY) then a.id END)'By_Connex_Stockin' FROM UCR_Listing_vs_360_View a inner JOIN misauto.Dc_Dealers d ON a.GCD_Code=d.gcd_code WHERE  a.Listing_Status='Active'
 GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12 

"""

In [53]:
cursorH = conn.cursor()
cursorH.execute(QueryH)
dataH = cursorH.fetchall()
columnH = [col[0] for col in cursorH.description]
dfH = pd.DataFrame(dataH, columns = columnH)

In [54]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [55]:
# replace -> Drop;
# append -> Dafault.

dfH.to_sql('Cardekho_UCR_Listing_Summary_panindia1_GDS', db_connection, if_exists = 'replace', index = False)

In [56]:
conn.close()
db_connection.dispose()

In [57]:
# Listing Summary-Pan India (Summary 2)
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
QueryI = """
      SELECT d.Display_Name 'Store_Name',
a.State,a.City,a.make_year,a.Make,d.Regional_Head,
Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status',Case when d.is_tm='1' then 'TM' when a.is_valueplus='1' then 'Value+' END 'Store_Type',
COUNT(*)'Active_listing',
COUNT(case when a.Leads<=0 or a.Leads IS NULL then a.id END )'0_Leads',
COUNT(case when a.Leads>0 and a.Leads<=2	 then a.id END )'1_2_Leads',
COUNT(case when a.Leads>2 AND a.Leads<=4 then a.id END )'2_4_leads',
COUNT(case when a.Leads>4 AND a.Leads<=7 then a.id END )'4_7_leads',
COUNT(case when a.Leads>7 and a.Leads<=10 then a.id END )'7_10_leads',
COUNT(case when a.Leads>10 and a.Leads>10 then a.id END )'Above_10_Leads'

 FROM UCR_Listing_vs_360_View a 
 inner JOIN Dc_Dealers d ON a.GCD_Code=d.gcd_code
 WHERE a.GCD_Code NOT IN ('GCD18321')
 GROUP BY 1,2,3,4,5,6,7,8 

"""

In [58]:
cursorI = conn.cursor()
cursorI.execute(QueryI)
dataI = cursorI.fetchall()
columnI = [col[0] for col in cursorI.description]
dfI = pd.DataFrame(dataI, columns = columnI)

In [59]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [60]:
# replace -> Drop;
# append -> Dafault.

dfI.to_sql('Cardekho_UCR_Listing_Summary_panindia2_GDS', db_connection, if_exists = 'replace', index = False)

In [61]:
conn.close()
db_connection.dispose()

In [62]:
# Listing Summary-Vehicle Details-Pan India
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
QueryJ = """
      SELECT '1) Active Listing' AS 'Status',d.Display_Name 'Store_Name',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when d.is_tm='1' then 'TM' when a.is_valueplus='1' then 'Value+' END 'Store_Type',
a.Make,a.Model,a.make_year,a.colour,a.fuel_type,a.State,a.City,
 COUNT(*)'By_Connex_Stockin' FROM UCR_Listing_vs_360_View a
 inner JOIN misauto.Dc_Dealers d ON a.GCD_Code=d.gcd_code
  WHERE   a.gcd_code NOT IN ('GCD18321')
 GROUP BY 1,2,3,4,5,6,7,8,9,8,9,10,11,12
UNION ALL
SELECT '2) 360 Done' AS 'Status',d.Display_Name 'Store_Name',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when d.is_tm='1' then 'TM' when a.is_valueplus='1' then 'Value+' END 'Store_Type',
a.Make,a.Model,a.make_year,a.colour,a.fuel_type,a.State,a.City,
 COUNT(*)'Value' FROM UCR_Listing_vs_360_View a 
 inner JOIN misauto.Dc_Dealers d ON a.GCD_Code=d.gcd_code WHERE a.gcd_code NOT IN ('GCD18321') and  a.is_360_exterior='1' 
 
  GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12
UNION ALL
SELECT 'a. Less 30 Days' AS 'Status',d.Display_Name 'Store_Name',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when d.is_tm='1' then 'TM' when a.is_valueplus='1' then 'Value+' END 'Store_Type',
a.Make,a.Model,a.make_year,a.colour,a.fuel_type,a.State,a.City,
 COUNT(case when DATE(a.created_date)>=DATE_SUB(CURDATE(),INTERVAL 30 DAY) AND CURDATE() then a.id END)'By_Connex_Stockin' FROM UCR_Listing_vs_360_View a
 inner JOIN misauto.Dc_Dealers d ON a.GCD_Code=d.gcd_code WHERE  a.gcd_code NOT IN ('GCD18321') GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12

UNION ALL 
SELECT 'b. 30_to_60_Days' AS 'Status',d.Display_Name 'Store_Name',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when d.is_tm='1' then 'TM' when a.is_valueplus='1' then 'Value+' END 'Store_Type',
a.Make,a.Model,a.make_year,a.colour,a.fuel_type,a.State,a.City,
 COUNT(case when DATE(a.created_date)<=DATE_SUB(CURDATE(),INTERVAL 31 DAY) AND DATE(a.created_date)>DATE_SUB(CURDATE(),INTERVAL 60 DAY) then a.id END)'By_Connex_Stockin' FROM UCR_Listing_vs_360_View a
 inner JOIN misauto.Dc_Dealers d ON a.GCD_Code=d.gcd_code WHERE a.gcd_code NOT IN ('GCD18321')  
 GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12
UNION ALL 

SELECT 'c. 60_to_90_Days' AS 'status',d.Display_Name 'Store_Name',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when d.is_tm='1' then 'TM' when a.is_valueplus='1' then 'Value+' END 'Store_Type',
a.Make,a.Model,a.make_year,a.colour,a.fuel_type,a.State,a.City,
 count(case when DATE(a.created_date)<=DATE_SUB(CURDATE(),INTERVAL 60 DAY) AND date(a.created_date)>DATE_SUB(CURDATE(),INTERVAL 91 DAY) then a.id END)'By_Connex_Stockin' FROM UCR_Listing_vs_360_View a
  inner JOIN misauto.Dc_Dealers d ON a.GCD_Code=d.gcd_code WHERE   
a.gcd_code NOT IN ('GCD18321') 
 GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12
UNION ALL 

SELECT 'd. More 90 Days' AS 'status',d.Display_Name 'Store_Name',d.Regional_Head,Case when d.Active=1 then 'Active' when d.Active=0 then 'InActive' END 'Status_activity',
Case when d.is_tm='1' then 'TM' when a.is_valueplus='1' then 'Value+' END 'Store_Type',
a.Make,a.Model,a.make_year,a.colour,a.fuel_type,a.State,a.City,
 count(case when DATE(a.created_date)<=DATE_SUB(CURDATE(),INTERVAL 91 DAY) then a.id END)'By_Connex_Stockin' FROM UCR_Listing_vs_360_View a inner JOIN misauto.Dc_Dealers d ON a.GCD_Code=d.gcd_code WHERE a.gcd_code NOT IN ('GCD18321') 
 GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12 


"""

In [63]:
cursorJ = conn.cursor()
cursorJ.execute(QueryJ)
dataJ = cursorJ.fetchall()
columnJ = [col[0] for col in cursorJ.description]
dfJ = pd.DataFrame(dataJ, columns = columnJ)

In [64]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [65]:
# replace -> Drop;
# append -> Dafault.

dfJ.to_sql('Cardekho_UCR_Listing_Summary_Vehicle_Details_GDS', db_connection, if_exists = 'replace', index = False)

In [66]:
conn.close()
db_connection.dispose()

In [67]:
# Sold Inventory Analysis-Pan India
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
QueryK = """
      SELECT a.Delivery_Date,a.Make,a.Model,a.Color_Name,a.State,LEFT(a.`Registration_No.`,2) 'RTO_State',a.City,
LEFT(a.`Registration_No.`,4) 'RTO_State_Region',
cast(a.Order_Date as char)'Order_Date',a.`Mfr._Year` 'Make_Year',a.Location,a.`Registration_No.` 'reg_no',
SUM(case when a.Invoice_Status='Delivered' then 1 ELSE 0 END) 'Sold_Count'
FROM sales_register_report_union a
WHERE a.Invoice_Status='Delivered'
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12  

"""

In [68]:
cursorK = conn.cursor()
cursorK.execute(QueryK)
dataK = cursorK.fetchall()
columnK = [col[0] for col in cursorK.description]
dfK = pd.DataFrame(dataK, columns = columnK)

In [69]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [70]:
# replace -> Drop;
# append -> Dafault.

dfK.to_sql('Cardekho_UCR_Sold_Inventory_Analysis_Panindia_GDS', db_connection, if_exists = 'replace', index = False)

In [71]:
conn.close()
db_connection.dispose()

In [72]:
# UCR Marketing Source Wise Total and Unique Leads - Pan India
conn = pymysql.connections.Connection(host = "1.0.26.199",user = 'team_mis_jaipur',password = 'pC*KXv-MaAx4^]#M',db = 'misauto', port = 3306)
QueryL = """
      SELECT 'By Lead Created' AS 'Type',a.utm_campaign,a.utm_medium,a.utm_source,a.ldm_source,a.ldm_sub_source,Case when a.Marketing_Source IS NULL and a.ldm_source LIKE '%Facebook%' then 'Facebook' when a.Marketing_Source IS NULL and a.ldm_source LIKE '%WALK-IN%' then 'WALK-IN' when a.Marketing_Source IS NULL then 'Organic' ELSE a.Marketing_Source END 'Marketing_Source',Case when a.ldm_source LIKE '%Facebook%' then 'Paid' when a.Marketing_Source1 IS NULL then 'Organic' ELSE a.Marketing_Source1 END 'Marketing_Source1',a.organization,a.city_name,a.state_list_name,DATE(a.Created_Date)'Date',DATE_FORMAT(a.Created_Date,"%b'%y")'Month',case when a.TM_Type IS NULL AND d.is_tm = '1' then 'TM'
when a.TM_Type IS NULL AND d.is_tm='0' then 'Classified'
ELSE a.TM_Type END 'TM_Type',COUNT(*)'Total',COUNT(case when a.RN_M='1' then a.ldm_id END)'Unique' From Dealer_central_lead_raw_new_unique a
LEFT JOIN Dc_Dealers d ON d.gcd_code=a.gcd_code
WHERE a.gcd_code NOT IN ('GCD18321')
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14

UNION ALL

SELECT 'By Walkin Created' AS 'Type',a.utm_campaign,a.utm_medium,a.utm_source,a.ldm_source,a.ldm_sub_source,a.Marketing_Source,a.Marketing_Source1,a.organization,a.city_name,a.state_list_name,a.Date,a.Month, a.TM_Type,COUNT(*)'Total',COUNT(case when a.RN_LD='1' then a.lead_mapper_id END)'Unique' 
FROM (SELECT a.lead_mapper_id,a.lcd_car_id,a.mobile,a.Customer_Name,a.is_cardekho,a.gcd_code,a.organization,a.reg_no,
case when a.TM_Type IS NULL AND d.is_tm = '1' then 'TM'
when a.TM_Type IS NULL AND d.is_tm='0' then 'Classified'
ELSE a.TM_Type END 'TM_Type'
,a.is_valueplus,a.city_name,a.state_list_name,a.Scheduled_Created,DATE(a.Scheduled_Created)'Date',DATE_FORMAT(a.Scheduled_Created,"%b'%y")'Month',
a.ldm_source,a.ldm_sub_source,a.utm_campaign,a.utm_medium,a.utm_source,Case when a.Marketing_Source IS NULL and a.ldm_source LIKE '%Facebook%' then 'Facebook' when a.Marketing_Source IS NULL and a.ldm_source LIKE '%WALK-IN%' then 'WALK-IN' when a.Marketing_Source IS NULL then 'Organic' ELSE a.Marketing_Source END 'Marketing_Source',Case when a.ldm_source LIKE '%Facebook%' then 'Paid' when a.Marketing_Source1 IS NULL then 'Organic' ELSE a.Marketing_Source1 END 'Marketing_Source1',ROW_NUMBER() over (PARTITION BY a.lead_mapper_id,DATE(a.Scheduled_Created) ORDER BY a.Scheduled_Created ASC)'RN_LD' From Dealer_Central_by_Walkin_Created a 
LEFT JOIN Dc_Dealers d ON d.gcd_code=a.gcd_code
WHERE a.gcd_code NOT IN ('GCD18321')
 )a GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14  

"""

In [73]:
cursorL = conn.cursor()
cursorL.execute(QueryL)
dataL = cursorL.fetchall()
columnL = [col[0] for col in cursorL.description]
dfL = pd.DataFrame(dataL, columns = columnL)

In [74]:
# creds to create a table in misauto database

db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [75]:
# replace -> Drop;
# append -> Dafault.

dfL.to_sql('UCR_MS_leadflow_GDS', db_connection, if_exists = 'replace', index = False)

In [76]:
conn.close()
db_connection.dispose()

In [77]:
import time
ts = time.time()
import datetime
st = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')
print(str(st)+" Cardekho_UCR_Report")
print("*********************************")

2022-06-03 10:17:02 Cardekho_UCR_Report
*********************************