In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import pymysql
import datetime as dt
import os
import gspread

In [2]:
import mysql.connector

## Connex Connection and Query

In [3]:
# connx server credentials
connection_connex = mysql.connector.connect(host='<your host>',database='<DB name>',user='<your user>',password='<your password>',port=<port number>)
q1="""SELECT cwd.connectoid,date(cwd.created_at)'Date',ifnull(cwd.`events`,'no event')'events',cwd.id from capture_webuser_data cwd
WHERE Date(cwd.created_at)=date_sub(curdate(),interval 1 day)
and length(cwd.connectoid)=36  """
#q1="SELECT connectoid,date(cwd.created_at)'Date',ifnull(cwd.`events`,'no event')'events',cwd.id,cwd.source from capture_webuser_data cwd WHERE Date(cwd.created_at)=date_sub(curdate(),interval 1 day) "#and LENGTH(connectoid)=36"
#q1="SELECT connectoid,date(cwd.created_at)'Date',ifnull(cwd.`events`,'no event')'events',cwd.id,case when cwd.source LIKE '%gaadi%' then 'gaadi.com' when cwd.source LIKE '%cardekho%' then 'cardekho.com' when cwd.source LIKE '%gaadi.com%' then 'gaadi.com' when cwd.source LIKE '%cardekho.com%' then 'cardekho.com' ELSE 'NA' END 'source' from capture_webuser_data cwd WHERE Date(cwd.created_at)=DATE_SUB(CURDATE(),INTERVAL 2 DAY) and LENGTH(connectoid)=36 AND events IN ('userlanded','city_popup_opened','no event','selectmanufacturer','ownership_selected','selectyear','selectmodel','user_name_filled','mobile_num_filled','checkinstantprice','selectvariant','whatsapp_optout','homepage_check_price_click','odometer_selected','check_value_clicked','otpverified','priceavailable','retailable_price_screen','Homeinspectionselected','servicenotavailablescreen_home','user_pincode_servicability','user_pincode','currentLocationclick','city_selected','registrationnumberfilled','date_screen','confirm_address','continue_city_change','pre_otpverified','slotselected','non_retailable_price_screen','Time_selected','appointmentconfirmed','homepage_buy_car_click','pricenotavailable','scrap_car','servicenotavailablescreen_address','cityselected','whatsapp_optin','mobile_num_edit')"
cursor=connection_connex.cursor()
cursor.execute(q1)
records=cursor.fetchall()

In [4]:
column = [col[0] for col in cursor.description]

In [5]:
df1 = pd.DataFrame(records, columns = column)

In [6]:
# connx server credentials
connection_connex = mysql.connector.connect(host='<your host>',database='<DB name>',user='<your user>',password='<your password>',port=<port number>)
q2="""SELECT a.connectoid 'connectoid',case when a.page_url LIKE '%Gaadi%' then 'Gaadi.com'
when a.page_url LIKE '%Cardekho%' then 'Cardekho.com' ELSE a.source END 'Source'
 FROM capture_webuser_data a WHERE a.id IN (SELECT id FROM (


SELECT a.connectoid,MIN(a.id)'id' FROM capture_webuser_data a
WHERE date(a.created_at)=date_sub(curdate(),interval 1 day)
GROUP BY 1)k)
AND date(a.created_at)=date_sub(curdate(),interval 1 day) AND length(a.connectoid)=36
GROUP BY 1 """
#q1="SELECT connectoid,date(cwd.created_at)'Date',ifnull(cwd.`events`,'no event')'events',cwd.id,cwd.source from capture_webuser_data cwd WHERE Date(cwd.created_at)=date_sub(curdate(),interval 1 day) "#and LENGTH(connectoid)=36"
#q1="SELECT connectoid,date(cwd.created_at)'Date',ifnull(cwd.`events`,'no event')'events',cwd.id,case when cwd.source LIKE '%gaadi%' then 'gaadi.com' when cwd.source LIKE '%cardekho%' then 'cardekho.com' when cwd.source LIKE '%gaadi.com%' then 'gaadi.com' when cwd.source LIKE '%cardekho.com%' then 'cardekho.com' ELSE 'NA' END 'source' from capture_webuser_data cwd WHERE Date(cwd.created_at)=DATE_SUB(CURDATE(),INTERVAL 2 DAY) and LENGTH(connectoid)=36 AND events IN ('userlanded','city_popup_opened','no event','selectmanufacturer','ownership_selected','selectyear','selectmodel','user_name_filled','mobile_num_filled','checkinstantprice','selectvariant','whatsapp_optout','homepage_check_price_click','odometer_selected','check_value_clicked','otpverified','priceavailable','retailable_price_screen','Homeinspectionselected','servicenotavailablescreen_home','user_pincode_servicability','user_pincode','currentLocationclick','city_selected','registrationnumberfilled','date_screen','confirm_address','continue_city_change','pre_otpverified','slotselected','non_retailable_price_screen','Time_selected','appointmentconfirmed','homepage_buy_car_click','pricenotavailable','scrap_car','servicenotavailablescreen_address','cityselected','whatsapp_optin','mobile_num_edit')"
cursor2=connection_connex.cursor()
cursor2.execute(q2)
records2=cursor2.fetchall()

In [7]:
column2 = [col[0] for col in cursor2.description]
df2 = pd.DataFrame(records2, columns = column2)

In [14]:
#  df2.head()

In [9]:
result = pd.merge(df1, df2, how="left", on=['connectoid', 'connectoid'])

In [13]:
#  result

In [11]:
df_p=result.pivot_table(index=['connectoid','Date','Source'],columns='events',values='id',aggfunc='count',fill_value=0)

In [15]:
#  df_p

In [ ]:
df_p.reset_index(inplace=True)

In [ ]:
db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)
con1=db_connection.connect()

In [ ]:
df_p.to_sql('cwd_events_pivot', db_connection, if_exists = 'append',index=False)

In [ ]:
con1.close()
db_connection.dispose()

In [ ]:
import time
ts = time.time()
import datetime
st = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')
print(str(st)+" cwd_events_pivot_table")
print("*********************************")