# trustmark_orders_curdate

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql
import datetime as dt
import os
import gspread
import datetime

from googleapiclient.discovery  import build
from google.oauth2 import service_account

In [2]:
conn1 = pymysql.connections.Connection(host="",user='',password='',db='', port=3306)

In [3]:
Ins_query = """
    
    SELECT a.order_id,a.user_id,a.inventory_id,a.cart_id,a.order_hash_id,a.booking_id,a.address_id,a.address_type,a.booking_amount,a.quantity,a.total_price,a.order_status,a.substatus,a.is_testdrive,a.connecto_id,a.transaction_id,a.offer_id,a.is_offline,a.on_finance,a.lead_quality,a.is_refund_processed,a.created_by_email,a.is_migrated,a.created_by,a.updated_by,FROM_UNIXTIME(a.created_at) 'created_at',FROM_UNIXTIME(a.updated_at) 'updated_at',a.lead_source,a.lead_type,b.utm_campaign,b.utm_medium,b.utm_source,
case
when b.utm_medium IN ('Blank','organic','CarDekho_Model_OverviewPage','none','(not set)','SearchBar','thankupopup','#N/A','CompareCars','CarDekhoWAP_null','Web','modeloverview','CarDekho_PricePage','variantpage','used-car-valuation','0',' ','internal','email_267_','girnar','SponsorSlotOnSegment','sms','SimilarCars','CarDekhoAPP_Model_OverviewPage','newsdetailpage','pricepage','winners_page','modelcolorpage','bannetrustmarkr_320x50','homepage-masthead','SponsorSlotOnPriceB')
then 'Organic'
when b.utm_medium = 'vdp' then 'App'    
when b.utm_medium IN ('referral','Social','connecto','cpc','messaging','Banners','Communication','email','facebook','qrscan','ad-analytics')
then 'Paid'
when b.utm_medium = 'WhatsApp' then 'WhatsApp'
when b.utm_medium IS NULL then 'Organic'
ELSE 'Others'
END AS 'UTM Source'
FROM orders a
LEFT JOIN order_utm b ON a.order_id=b.order_id
WHERE date(FROM_UNIXTIME(a.created_at)) = curdate()
    
"""

In [4]:
cursor = conn1.cursor()
cursor.execute(Ins_query)

791

In [5]:
data = cursor.fetchall()

In [6]:
column = [col[0] for col in cursor.description]

In [7]:
df = pd.DataFrame(data, columns = column)

In [18]:
# df

In [8]:
db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)

In [9]:
df.to_sql('trustmark_orders_curdate', db_connection, if_exists = 'replace', index = False)

In [10]:
import time
ts = time.time()
import datetime
st = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')
print(str(st)+" trustmark_orders_curdate")
print("*********************************")

2022-06-16 12:53:24 trustmark_orders_curdate
*********************************