In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import pymysql
import datetime as dt
import os
import gspread

In [2]:
import mysql.connector

## Connex Connection and Query

In [4]:
# connx server credentials
connection_connex = mysql.connector.connect(host='<host>',database='<database name>',user='<user>',password='<password>',port='<port>')
q1="""
SELECT Q1.*,case when Q1.Event_Sr='Sr0' then 'Users' else m.Events END 'Event_Name',cl.city_display_name 'City' FROM 

(SELECT 'Sr0' AS 'Event_Sr',a.cityId,a.Date,COUNT(DISTINCT a.connectoid)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr10' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr10>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr20' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr20>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr30' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr30>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr40' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr40>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr50' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr50>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr60' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr60>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr70' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr70>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr80' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr80>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr90' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr90>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr100' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr100>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr110' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr110>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr120' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr120>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr130' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr130>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr140' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr140>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr150' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr150>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr160' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr160>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

UNION ALL

SELECT 'Sr170' AS 'Event_Sr',a.cityId,a.Date,COUNT(case when a.Sr170>0 then a.connectoid END)'Count'

FROM UCR_events_pivot a WHERE a.Date=DATE_SUB(CURDATE(),INTERVAL 1 day) GROUP BY 1,2,3

 )Q1
 LEFT JOIN (SELECT * FROM UCR_Events_Mapping a WHERE a.Effective_Date= (select MAX(a.Effective_Date) 'Date' FROM UCR_Events_Mapping a)) m ON Q1.Event_Sr=m.Srno
 LEFT JOIN Central_city_list cl ON Q1.cityId=cl.CityId


"""

cursor=connection_connex.cursor()
cursor.execute(q1)
records=cursor.fetchall()

In [5]:
column = [col[0] for col in cursor.description]

In [6]:
df1 = pd.DataFrame(records, columns = column)

In [7]:
db_connection_str = 'mysql+pymysql://team_mis_jaipur:pC*KXv-MaAx4^]#M@1.0.26.199/misauto'
db_connection = create_engine(db_connection_str)
con1=db_connection.connect()

In [9]:
# df1

In [14]:
# df1.dtypes

In [7]:
df1.to_sql('UCR_Events_Tableau', db_connection, if_exists = 'append',index=False)

In [8]:
con1.close()
db_connection.dispose()

In [9]:
import time
ts = time.time()
import datetime
st = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')
print(str(st)+" UCR_Events_Tableau")
print("*********************************")

2022-05-28 13:22:43 UCR_Events_Tableau
*********************************